/* Goofle fonts: */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.booksTitlesList {
  font-family: "Oswald", sans-serif;
  color: #847d71;
}

.booksTitlesList:hover {
  cursor: pointer;
  color: #444b51;

  transition: 0.5s;
}
