/* Goofle fonts: */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.booksTitlesList {
  font-family: "Oswald", sans-serif;
  color: #444b51;
}

.booksTitlesList:hover {
  cursor: pointer;

  scale: 1.1;
  transition: 0.5s;
}
